/* label focus color */
.input-field input:focus + label {
    color: #0091ea !important;
  }
  /* label underline focus color */
  .row .input-field input:focus {
    border-bottom: 1px solid #0091ea !important;
    box-shadow: 0 1px 0 0 #0091ea !important
  }

    /* icon prefix focus color */
    .input-field .prefix.active {
        color: #0277bd !important;
      }

h2, h4 {
    color: white;
}

body {
  background-image: url("../trains.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}